body {
   background-color: rgb(0, 0, 0);
}

#carouselExampleControls {
    width: 100%;
}

.container {
    padding: 0;
}

/* .vitrine {
    border-radius: 1px;
    margin-bottom: 0;
} */

.menuContainer {
    background-color: rgb(245, 220, 200);
    padding: 0px 15px 15px 15px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    color: rgb(0, 0, 0) ;
}

.list-group-item {
    background-color: rgb(245, 220, 200);
}

.lead {
    font-size: 26px;
}

.panda {
    height: 100%;
    width: auto;
    float: right;
}

footer {
    height: 240px;
}

nav {
    color: white;
}

img {
    max-width: 100%;
}


.panda {
    height: 40px;
    float: left;
    padding-right: 10px;
}

.jumbotron {
    background-color: rgb(0, 0, 0);
    padding: 20px 30px 20px 30px;
    color: white;
    
}

.jumbotronheader {
    background-image: url(../images/header/spicy_tasty_food.jpg);
    height: 240px;
    max-width: 100%;
    color: white;
    object-fit: cover;
    opacity: 0.7;
}

.titleLogo {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    font-size: 25px;
}


.headerTitle {
    font-family: 'Amatic SC', cursive;
    padding-top: 40px;

}

.mainPageSecondTitle {
    padding-left: 15px;
}

.secondTitle {
    font-family: 'Amatic SC', cursive;
    background-color: black;
    padding: 15px;
    color: white;
    text-align: center;  
}


.description {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px 10px 10px 0;
    font-size: 24px;
    margin-bottom: 0;
}

.footerDescription {
    color: white;
    margin-bottom: 5px;
}

.carousel {
    padding-bottom: 12px;
}

button {
    margin-bottom: 15px;
}

.menuButton {

}

.price {
    text-align: right;
    background-color: rgb(238, 164, 115);
}

.badge {
    float: right;
}

.socialMedia {
    list-style: none;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-right: 26px;
}

footer {
}

.myName {
    padding-bottom: 10px;
}

.page {
    background-color : rgb(245, 220, 200);
}

.openingHours {
    list-style: none;
    color: white;
    padding-left: 0px;
}

.addressContent {
    padding: 20px 0px 20px 0px;
}

.carouselWrap {
    width: 80%;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 26px;
    
}

.contactForm {
    background-color: rgb(245, 220, 200);
    padding: 20px;
}
